<div class="sidebar sticky-top">        
    <div class="sidebar-section">
        <h5><span>View by Category</span></h5>
        <div class="after-post-tags" style="text-align: center">
        {% for type in site.categories %}
        <a href="{{ site.baseurl }}/categories#{{ type[0] | slugify }}" class="badge badge-pill badge-light" style="font-size: 14px">{{ type[0] }}</a>
        {% endfor %}
        </div>
    </div>

    <div class="sidebar-section">
        <h5><span>View by Artist</span></h5>
        <div class="after-post-tags" style="text-align: center">
        {% for artist in site.tags %}
        <a href="{{ site.baseurl }}/artists#{{ type[0] | slugify }}" class="badge badge-pill badge-light" style="font-size: 14px">{{ artist[0] | truncatecharacters: 30}}</a>
        {% endfor %}
        </div>
    </div>
</div>
