/* 
Don't want to use sass and simply modify the stylesheet in the old css fashion? 
Just customize your theme here.
================================================== */

body {}

a.artic {
  color: #B50938 !important;
}

a.artic:link {
  color: #B50938 !important;
}

a.artic:hover {
  color: #86072A !important;
  text-decoration: underline;
}

.btn-primary {
  background-color: #86BBD8 !important;
  border: none !important;
  color: #000000 !important;
  font-weight: 500;
}

.btn-primary:hover {
  background-color: #4597C3 !important;
  border: none !important;
  color: #000000 !important;
}

.btn-dark {
  background-color: #79C471 !important;
  border: none !important;
  color: #000000 !important;
  font-weight: 500;
}

.btn-dark:hover {
  background-color: #4EA445 !important;
  border: none !important;
  color: #000000 !important;
}

.btn-secondary {
  background-color: #BFACC8 !important;
  border: none !important;
  color: #000000 !important;
  font-weight: 500;
}

.btn-secondary:hover {
  background-color: #9475A3 !important;
  border: none !important;
  color: #000000 !important;
}

a.bnav {
  color: #B50938 !important;
  font-weight: bold;
}
