---
layout: default
---
{% if page.url == "/archive/" %} 
<div class="rounded mb-5 hero" style="background: #BFACC8">
  <div class="row align-items-center justify-content-between">
    <div style="text-align:left">
      <h2 class="font-weight-bold mb-4 serif-font">Explore the Archive</h2>
      <p class="lead mb-4">Below is a complete archive of daily art ordered reverse chronologically.</p>
    </div>
  </div>
</div>
{% else %}
<div class="rounded mb-5 hero" style="background: #F2A541">
  <div class="row align-items-center justify-content-between">
    <div style="text-align:left">
      <h2 class="font-weight-bold mb-4 serif-font">Explore the Artists</h2>
      <p class="lead mb-4">Below is a complete list of featured artists ordered alphabetically.</p>
    </div>
  </div>
</div>
{% endif %}

<div class="col-sm-12">
  <div class="article-post serif-font">
    {{content}}
  </div>
</div>    
