---
title: "Styles"
layout: default
permalink: "/styles.html"
---
<div class="rounded mb-5 hero" style="background: #86BBD8">
  <div class="row align-items-center justify-content-between">
    <div style="text-align:left">
      <h2 class="font-weight-bold mb-4 serif-font">Explore by Style</h2>
        {% for style in site.tags %}
        <a href="#{{ style[0] | slugify }}" class="badge badge-pill badge-light" style="font-size: 16px">{{ style[0] }}</a>
        {% endfor %}
    </div>
  </div>
</div>

{% for artist in site.tags %}
<h4 class="mt-5 mb-4 pb-2 border-bottom" id="{{ artist[0] | slugify }}"><span class="text-capitalize small font-weight-bold">By "{{ artist[0] }}"</span></h4>
<div class="row">
{% assign pages_list = artist[1] %}
{% for post in pages_list %}
{% if post.title != null %}
{% if group == null or group == post.group %}
<div class="col-md-4 mb-5">
{% include postbox.html %}
</div>
{% endif %}
{% endif %}
{% endfor %}
{% assign pages_list = nil %}
{% assign group = nil %}
</div>
{% endfor %}
